<div id="game-container">
    <div class="game-container">
        <h1>{{result.name}}</h1>
        <p>{{{result.about_the_game}}}</p>

        <a class="game-link" href="{{result.website}}">{{result.website}}</a>
        <form action="/profile/fav/{{result._id}}" method="post">
            <button type="submit" id="fav-button" ></button>
        </form>
    </div>
</div>