
<h1>Profile Page</h1>

<div class="image-cropper">
  <img
    class="rounded-img"
    src="{{user.imageUrl}}"
    alt="{{user.username}}"
    style="width: 300px; max-height: 300px"
  />
</div>
<div>
  <h2>{{user.username}}</h2>

  <button type="submit"><a href="/profile/edit">Add Game Tags</a></button>

  <div class="favorite-games-section">
    <h2>My Favorite Games:</h2>

    <div class="flex-row">
      
      {{#each user.favGames}}
        <div class="games-card">
          <img src="{{header_image}}" alt="{{name}}" />
          <h3>{{name}}</h3>
          <a href="/game?name={{name}}">Game details</a>

          <form action="/profile/fav/{{_id}}/remove" method="post">
            <button type="submit">Remove of My Favorite Games</button>
          </form>
        </div>
      {{/each}}
    </div>
  </div>

</div>

  <form action='/profile/{{user._id}}/delete' method='post'>
    <button>Delete Account</button>
  </form>
</div>